[data-menu='button']{
  display: none;
}

@media(max-width:700px){
  [data-menu='button']{
    display: flex;
    background: #222;
    border: none;
    padding: .5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 300;
  }

  [data-menu='button'].active::before{
    transform: rotate(90deg);
  }


  [data-menu='button']::before{
    margin-right: 5px;
    content: '';
    display: inline-block;
    height: 2px;
    width: 12px;
    background: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
  }


  [data-menu='lista']{ 
    display: block; 
    position: absolute;
    background: #fb5;
    width: 130px;
    z-index: 200;
    top: 1;
    padding: 90px 0 20px 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .2);
  }
  .dropdown-menu{
    position: static;
    border: none;
  }
}
